*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
app/build/
app/libs/
app/*inl
app/src/androidTest/
app/src/main/java/com/example/administrator/helloworld
app/src/test/
app/src/main/java/com/example/administrator/helloworld/MainActivity.java
/local.properties
/.idea/workspace.xml
/.idea/libraries
/caputres
.externalNativeBuila
